.UserProfileHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.avatar{
    max-height: 200px;
    max-width: 100%;
    object-fit: cover;
    margin: 10px;
}

.info{

    li {
        margin: 10px 0;

        span {
            width: 90px;
            display: inline-block;
        }

        b {
            margin-left: 10px;
        }
    }
}


@media screen and (max-width: 550px){
    .UserProfileHead {
        flex-direction: column;
    }
}